//====================================================================================================
.main-page {
  // .main-page__container

  &__container {
  }

  // .main-page__content

  &__content {
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("padding-top", 118, 60);
    @include adaptiveValue("padding-bottom", 155, 60);
    column-gap: 68px;
  }

  // .main-page__left

  &__left {
    flex: 0 1 509px;
  }

  // .main-page__right

  &__right {
  }
}
.left-main-page {
  // .left-main-page__title

  &__title {
    @include adaptiveValue("font-size", 54, 30);
    font-weight: 600;
    @include adaptiveValue("margin-bottom", 25, 15);
    span {
      background: linear-gradient(154deg, #3effc0 4.45%, #18ca90 83.73%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__desc {
    opacity: 0.7;
    @include adaptiveValue("font-size", 21, 18);
    font-weight: 400;
    line-height: math.div(33.6, 21);
    @include adaptiveValue("margin-bottom", 30, 15);
  }

  // .left-main-page__form

  &__form {
  }

  // .left-main-page__devices

  &__devices {
  }

  // .left-main-page__device

  &__device {
  }
}
.form-left-main-page {
  // .form-left-main-page__inp

  &__inp {
  }

  // .form-left-main-page__btn

  &__btn {
  }
}
.right-main-page {
  position: relative;
  flex: 1 1 auto;
  // .right-main-page__img

  &__img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

//====================================================================================================
